<div class="container main">
    <h3>Find local Bank branch</h3>
    <div class="search">
        <select [(ngModel)]='citySelected' (ngModelChange)="onCitySelected($event)">
            <option *ngFor='let city of cities'>{{city}}</option>
        </select>
        <input type="text" placeholder="search" [(ngModel)]="searchText">
    </div>
    <div class="table">
        <table>
            <thead>
                <tr>
                   <th>Bank Name</th>
                   <th>City</th>
                   <th>branch</th>
                   <th>Ifsc</th>
                   <th>Bank Id</th>
                   <th>District</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let list of lists | filter:searchText | paginate: {itemsPerPage:itemsPerPage,currentPage:page}'>
                    <td>{{list.bank_name}}</td>
                    <td>{{list.city}}</td>
                    <td>{{list.branch}}</td>
                    <td>{{list.ifsc}}</td>
                    <td>{{list.bank_id}}</td>
                    <td>{{list.district}}</td>
                </tr>
            </tbody>  
        </table>
        <div class="pages">
        <label>per page:
            <select [(ngModel)]="itemsPerPage">
              <option value="20">20</option>
              <option value="30">30</option>
              <option value="40">40</option>
              <option value="50">50</option>
            </select>
          </label>
          <pagination-controls (pageChange)='page = $event'></pagination-controls>
        </div>
    </div>
</div>